.ItemDetail{
    color:white;
}
.ItemDetail h2{
    text-align: center;
}
.drinkImgn{
    width: 150px;
    height: 150px;
    border-radius: 150px 150px;
    overflow: hidden;
    border:3px solid white;
    float: left;
}
.drinkImgn img{
    width: 100%;
}
.hidden{
    display: none;
}