.item{
    margin: auto;
}
.subItem{
    background-color:lightgray;
    padding: 7px;
    font-size: 12px;
    min-width: 140px;
    max-width: 140px;
    margin: 10px;
}
.item h3{
    text-align: center;
}
.drinkImg{
    width: 100%;
}
.drinkImg img{
    width: 100%;
}
.item ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.clickMe{
    position: absolute;
    bottom:0;
    right:0;
    color:grey;
    display: none;
}
.verMas{
    text-align: center;
    font-size: 13px;
}
.verMas a{
    text-align: center;
    font-size: 13px;
    color:#463E3E
}